header {
  background-color: rgb(7, 80, 104);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 10%;
  color: white;
  height: 20vh;
}

header > img {
  width: 80px;
  border-radius: 100%;
  border: 3px solid white;
}
